<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>Rocket</title>
</head>
<body class="bg-dark d-flex flex-column justify-content-center align-items-center" style="width: 100vw;height: 100vh;">
    <div class="text-white" style="height: {{ result if result else 20 }}px;">
        จรวด
    </div>
    <div class="card p-2">
        <h1 class="mx-auto">Calculator Project</h1>
        <form class="d-flex flex-column" action="/" method="post">
            <input class="form-control mb-2" type="number" name="num1" placeholder="Enter first number" autocomplete="off" required>
            <input class="form-control mb-2" type="number" name="num2" placeholder="Enter second number" autocomplete="off" required>
            <button class="btn btn-primary w-100" type="submit">Calculate</button>
        </form>
        <div class="text-center my-2">
            {% if result %}
            <p>Result: {{ result }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
